.selectMenu {
  max-width: 350px;
  margin: 150px auto 0;
}

.selectInput {
  width: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
}

.options {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 350px;
  max-height: 320px;
  z-index: 1;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.options.show {
  display: block;
}

.option {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  align-items: center;
  list-style: none;
  border-radius: 8px;
  cursor: pointer;
}

.option.highlight {
  background: #f2f2f2;
}

.option .optionText {
  font-size: 18px;
  color: #333;
}
